* {
  margin: 0;
}
body {
  /* width: 100vw; */
  overflow-x: hidden !important;
  position: relative;
}
html {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgb(0, 0, 29, 0.8));
  scroll-behavior: smooth;
  width: 100%;
  --imp-text-color: #2396d9;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}

.blue {
  color: var(--imp-text-color);
}

.none {
  display: none;
}

.background-img {
  width: 100vw;
  overflow: hidden;
}
/* background images */
.background-img img {
  width: 100%;
  min-width: 100rem;
  opacity: 0.9;
  z-index: -2;
}

.header-section {
  height: 3rem;
  background-color: #282c34;
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: end;
  color: white;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
}
.toSection {
  margin-right: 2rem;
  display: flex;
}
.toSection a {
  margin-left: 1rem;
}

.toSection a::after {
  box-sizing: border-box;
  background: #2396d9;
  border-radius: 16px;
  bottom: 1px;
  content: "";
  display: block;
  height: 5px;
  left: 0;
  position: relative;
  transition: all 0.5s ease-out 0s;
  width: 0;
  z-index: -1;
}
.toSection a:hover::after {
  width: 100%;
}

.home-header {
  padding-top: 80px;
}

.home-section {
  position: relative;
  z-index: 1;
  background-image: var(--image-gradient), url(./Assets/home-bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 30px;
  padding-top: 30px;
  /* overflow: hidden; */
}
.home-content {
  /* padding: 9rem 0 2rem; */
  color: whitesmoke;
  margin-left: 5rem;
  position: absolute;
  top: -25rem;
}

.home-content h1.heading {
  animation: rotate 0.4s ease infinite;
  animation-iteration-count: 15;
}

.down-arrow {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  animation: breathLight 1.5s infinite;
}

/* about */

.about-section {
  position: relative;
  padding: 10rem 2rem;
  margin-top: 10rem;
}

.about-description {
  color: white;
  padding-top: 6rem;
  padding-bottom: 1rem;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.about-body {
  margin: 3rem auto;
  margin-top: 3rem;
  font-size: 1.2rem;
  text-align: left;
  transform: translateX(-100rem);
}

.fade-in {
  transition: all 1.5s;
  transform: translateX(0rem);
}

/* contact */

.contact-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  text-align: center;
  color: white;
}

.home-about-social {
  text-align: center;
  padding-top: 25px;
  color: white;
}

.home-about-social-links {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.home-social-icons {
  display: flex;
  margin: 0 0.5rem;
  width: 3rem;
  height: 3rem;
  text-align: center;
  font-size: 1.2em;
  background: rgba(255, 255, 255, 0.972);
  border-radius: 50%;
  transition: 0.5s;
}
.home-social-icons img {
  width: 2.5rem;
  height: 2.5rem;
  margin: auto;
}
.home-social-icons svg {
  width: 2.5rem;
  height: 2.5rem;
  margin: auto;
}
.home-social-icons:hover {
  fill: #2396d9;
  box-shadow: 0 0 5px #2396d9;
  text-shadow: 0 0 2px #2396d9;
  scale: 1.2;
}

/* Portfolio */
.portfolio-section {
  display: flex;
  justify-content: space-evenly;
  padding: 4rem 1rem 1rem;
  flex-shrink: 0;
  align-items: center;
  color: white;
  flex-direction: column;
  width: 100%;
}

.card-wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.card-img-top {
  max-height: 70%;
  margin: 0.5rem auto;
  max-width: 100%;
}

.card-body {
  padding: 1rem;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}

.project-card {
  min-width: 15rem;
  width: 29%;
  height: 33rem;
  margin: 1rem;
  padding: 1rem 1rem;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
}
.project-card-view {
  width: auto;
  height: 100%;
}
#cover:hover {
  transform: scale(1.02);
  transition: 1s;
  box-shadow: 0 4px 4px 5px rgba(35, 152, 214, 0.561);
}

.card-text h2 {
  text-align: center;
  height: 3rem;
}
.card-text p {
  text-align: center;
}

.linkBtn {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
}

.linkBtn a {
  color: white;
  display: inline-block;
  background-color: #2396d9;
  border-radius: 0.2rem;
  padding: 0.2rem;
}

.section {
  transition: all 0.3s;
  /* display: none; */
}

/* footer */
footer {
  margin-top: 2rem;
  bottom: 0;
  padding: 1rem 0;
  height: 3rem;
}
footer p {
  text-align: center;
  color: #5e6064;
}

/* animation */
@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  20% {
    transform: rotate(-2deg);
  }

  60% {
    transform: rotate(0);
  }

  80% {
    transform: rotate(2deg);
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes breathLight {
  0% {
    opacity: 0.65;
  }

  15% {
    opacity: 0.5;
  }

  30% {
    opacity: 0.35;
  }

  50% {
    opacity: 0.15;
  }

  70% {
    opacity: 0.35;
  }

  85% {
    opacity: 0.5;
  }

  100% {
    opacity: 0.65;
  }
}
